/* @override http://localhost:3000/stylesheets/application.css?1314463692 */

/* @override http://localhost:3000/stylesheets/application.css?1314460739 */

/* @override http://localhost:3000/stylesheets/application.css?1314068212 */

/* @override http://localhost:3000/stylesheets/application.css?1314066602 */

/* @override http://localhost:3000/stylesheets/application.css?1314066365 */

/* @override http://localhost:3000/stylesheets/application.css?1313988859 */

/* @override http://localhost:3000/stylesheets/application.css?1313350521 */

/* @override http://localhost:3000/stylesheets/application.css?1313350521 */

/* @override http://localhost:3000/stylesheets/application.css?1312687622 */

/* @override http://localhost:3000/stylesheets/application.css?1312334512 */

body {
  	font-family: "Verdana", "Arial", sans-serif;
  	font-size: 13px;
  	color: #666;
  	margin: 0px;
  	padding: 0px;
  	/*-webkit-box-shadow: inset 0 0 175px 75px rgba(0,0,0, .15);
  	  -moz-box-shadow: inset 0 0 175px 75px rgba(0,0,0, .15);*/
}

html {
	margin: 0px;
	padding: 0px;
	background: url(../images/background-alt.png) repeat-x, url(../images/bg-blue.gif) repeat rgba(0,165,197, 1);
}

#nav_bar {
	height: 34px;
	margin: 0;
  	padding: 0;
  	background-color: #FA6900;
}


nav{
  	width: 864px;
  	margin: 6px auto;
	clear: both;
}


nav ul li{
	float:left;
}


ul.right_account a {
	color:  white;
	font-size: 13px;
}

ul.right_account {
	float: right;
	padding:10px 0 0 0;
	list-style: none;
	margin: 0 0 0 0;
}

ul.left_share {
	float:left;
	padding: 7px 0 0 0;
	margin: 0;
	list-style: none;
}

li#tweet {
	padding: 0px 15px 0 0;
}

#new_list_nav {
	background-color: white;
	width: 110px;
	height: 34px;
	padding: 7px 5px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
  	-moz-box-shadow: 0px 0px 5px #333;
  	-webkit-box-shadow: 0px 0px 5px #333;
  	box-shadow: 0px 0px 5px #333;
    text-align: center;
	z-index: 1;
	font-family: 'Rokkitt', serif;
	font-size: 20px;
	position: relative;
	margin: -6px auto 0px auto;
}

#new_list_nav hr {
	margin: 2px 0;
}

#wrapper {
  width: 864px;
  margin: 0 auto;
}

#header {
	margin: 25px 0 16px 0px;
	background: url(../images/header-banner.png) no-repeat;
	width:  600px;
	float: left;
}

#logo {
	width: 155px;
	height: 76px;
	float: left;
	margin-left: 40px;
	z-index: 2;
	position: relative;
}

tagline {
	float: left;
	color: #414141;
	margin: 33px 0 0 20px;
	font-family: 'Rokkitt', serif;
	font-size: 17px;
}

#content {
  background-color: white;
  padding: 5px 25px 40px 25px;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  clear: both;

}

h1 {
	color: #414141;
	font-family: 'Rokkitt', serif;
	font-size: 36px;
	margin: 20px 0px 0px 0px;
	line-height:100%;
	clear: both;
}



h2 {
	font-family: 'Rokkitt', serif;
	font-size: 22px;	
	color: #414141;
}

h2 a {
	/*color: #92C95C;*/
}

div.share_buttons {
	padding:10px 0 0 0;
	list-style: none;
}

div#tweet_body {
	 margin: 0px 15px 0 0;
	 float: left;
}

/* so that images don't flash large and then shrink down when loading*/
.resizeme { display: none; }
 
 

#show_items li img {
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.4);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,.4);
  	box-shadow: 2px 2px 5px rgba(0,0,0,.4);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 5px;
}



label {
	font-size:  18px;
}

a img {
  border: none;
}

a:link { color:#0DAAC5; text-decoration:none; }

a:visited { color: rgba(13,170,197,0.7); text-decoration:none; }

a:hover { color: rgba(13,170,197,0.7); text-decoration:underline;}

.css3button {
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	color: #ffffff;
	padding: 6px 25px 5px 25px;
	margin: 10px 0 10px 0;
	background: -moz-linear-gradient(
		top,
		#fa6900 0%,
		#eb6505);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fa6900),
		to(#eb6505));
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #fa6b05;
	-moz-box-shadow:
		2px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 2px rgba(255,255,255,0.4);
	-webkit-box-shadow:
		2px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 2px rgba(255,255,255,0.4);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.2);
	cursor: pointer;
}


.css3button:hover {
		background: -moz-linear-gradient(
		top,
		#eb6505 0%,
		#fa6900);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#eb6505),
		to(#fa6900));
		-moz-box-shadow:0px 0px 3px rgba(000,000,000,0.4), inset 0px 0px 3px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 0px 3px rgba(000,000,000,0.4),
		inset 0px 0px 3px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.4);
}

#suggestions {
	float: right;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

ol#show_items {
	font-family: 'Rokkitt', serif;
	font-size: 28px;	
	color: rgba(65,65,65,0.3);
}


ol li {
	list-style-type: decimal;
	list-style-position: outside;
	margin-top: 20px;	
	margin-left: -20px
}

ol#show_items li {	
	margin-left: -10px
}

ol#show_items p {
  	font-family: "Verdana", "Arial", sans-serif;
  	font-size: 16px;
  	color: #666;
	margin: 0 0 0 -3px;
  	padding: 0px;
}

#notice-bar {
	margin: -76px 0 0 0px;	
}

p.notice, p.error, p.alert {
  clear: both;
  margin: 0px 0 0 0;
  width:  600px;
  height: 76px;
  float: left;
  font-family: 'Rokkitt', serif;
  font-size: 17px;
  position: absolute;
  z-index: 1;
  padding: 33px 0 0 216px;
  color: white;
}

p.notice {
    background: url(../images/header-banner-notice.png) no-repeat;
}
  

p.error, p.alert {
    background: url(../images/header-banner-alert.png) no-repeat;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.field_with_errors .message {
	color: red;
	padding-left: 5px;
	font-size: 12px;	
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.field_with_errors {
	display: inline;	
}


#user_nav {
  margin-bottom: 10px;
  text-align: right;
  float: right;
}

#lists {
	margin-top: 20px;
}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

#standard_auth {
	width: 300px;
	border-right-color: rgba(0,0,0,0.3);
	border-right-style: solid;
	border-right-width: 1px;
	float: left;
	padding-right: 50px;
	margin-top: 20px;
}

#external_auth {
	margin-left: 50px;
	margin-top: 15px;
	clear: none;
	float: left;
}

a.options-icon {
    width: 18px;
    height: 18px;
    background-image: url(../images/link.png);
	display: block;
}

#items div.fields li span.handle img {
	width: 16px;
    height: 16px;
    margin: 0px 15px -3px 2px;
    cursor: move;
}

#items span.options-icon img{
	width: 16px;
    height: 16px;
    padding: 0px 10px 0px 10px;
    margin-bottom: -3px;	
}

#items div.fields li a img {
	margin-bottom: -3px;
}


#clear_floats {
	clear: both;
}

#footer {
	clear: both;
	padding: 20px 0 10px 0;
	width: 100%;
}

#footer-content {
	width: 864px;
    margin: 0 auto;
}

#footer p {
 text-align: center;
 background-color: white;
 border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 padding: 2px 0 4px 0;

}

/* Front Page Specific Styles */


#spokesman {
	width: 338px;
	height: 820px;
	z-index: 1;
	float: left;
	/*background: url(../blinky_monster_Resources/monster-fun-time-1.png) no-repeat;*/
	margin-top: -100px;
	position: absolute;
}

/* Set transparent background on animation */
#8F48B668-696E-42A6-9185-B193C89DBAD1-11818-0000B01227CAC636 {
	background-color: rgba(255,255,255,0);
}

#headlines h1 {
	margin-top: 0px;
	text-align: center;
}

#headlines h2 {
	text-align: center;
	background-color: yellow;
	width: 430px;
	margin: 21px auto;
	font-size: 21px;
	padding:  3px 0 1px 0;
}


#top {
	margin: 0 25px 0 0;
	padding: 10px 20px 20px 20px;
	background-color:  white;
	width: 510px;
    float: right;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}

#answer_list {
	margin: 25px 0 0 0;
}

#answer_list a {
	font-family: 'Rokkitt', serif;
	font-size: 19px;
	text-align: center;	
	/*width: 100%;*/
	margin: 0 auto;
	color: #ffffff;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.2);
	display: block;
}

#answer_list a:hover {
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.4);
	text-decoration: none;
}

.front-page-button {
	font-family: 'Rokkitt', serif;
	font-size: 19px;
	
	width: 100%;
	color: #ffffff;
	padding: 8px 0 6px 0;
	margin: 5px 0 3px 0;
	width: 100%;
	background: -moz-linear-gradient(
		top,
		#fa6900 0%,
		#eb6505);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fa6900),
		to(#eb6505));
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #fa6b05;
	-moz-box-shadow:
		2px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 2px rgba(255,255,255,0.4);
	-webkit-box-shadow:
		2px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 2px rgba(255,255,255,0.4);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.2);
	cursor: pointer;

}

.front-page-button:hover {
		background: -moz-linear-gradient(
		top,
		#eb6505 0%,
		#fa6900);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#eb6505),
		to(#fa6900));
		-moz-box-shadow:0px 0px 3px rgba(000,000,000,0.4), inset 0px 0px 3px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 0px 3px rgba(000,000,000,0.4),
		inset 0px 0px 3px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.4);
}

#bottom {
	margin: 25px 25px 0 0;
	padding: 20px;
	background-color:  white;
	width: 510px;
    float: right;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


#fp-list-form {
	/*float: right;*/
	/*width: 400px;*/
    margin: 15px auto 0 auto;
    width: 350px;
}

div.or-signup {
	text-align: right;
}

#newest-lists {
	/*float: left;
	width: 374px;*/
	/*-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;*/
}

#newest-lists h2 {
	margin-top: 5px;
}

#newest-list-item {
	clear: both;
}

#sm-author-avatar {
	float: left;
	margin: 3px 15px 15px 0;
	width: 48px;
	height: 48px;
	clear: left;
}

#newest-list-item ul {
	list-style-position: inside;
	margin: -10px 0 15px 24px;
	text-indent: 0;
}


#sm-author-avatar img {
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.4);
  	box-shadow: 1px 1px 2px rgba(0,0,0,.4);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#browse-more {
	float: right;
}

#browse_tags_cloud h2 {
	margin-bottom: 5px;
	clear: both;
}



form#user_edit.user_edit {
	margin-top: 20px;
}


/* Tag Cloud Styles */
.css1 { font-size: 0.6em; }
.css2 { font-size: 0.8em; }
.css3 { font-size: 1.2em; }
.css4 { font-size: 1.6em; }


#browse_tags_cloud a.css1 { font-size: 0.6em; }
#browse_tags_cloud a.css2 { font-size: 1.2em; }
#browse_tags_cloud a.css3 { font-size: 1.8em; }
#browse_tags_cloud a.css4 { font-size: 2.4em; }

.new_list_show_page {
	/*background-color: #eaeaea;*/
	border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
  	-moz-box-shadow: 0px 0px 5px #333;
  	-webkit-box-shadow: 0px 0px 5px #333;
  	box-shadow: 0px 0px 5px #333;
  	margin-bottom: 0px;
}

#show_page_form {
	margin: 0px 20px 0 20px;
	display: block;
	/*width: 390px;*/
	padding: 15px 0 10px 0;
}

#comments {
	margin-top: 25px;
}





