<%= content_for :title, "Favsi - Search Lists" %>

<h1>Search Lists</h1>
<p>P.S. Sorry the search is so ugly. I'll make it better when I have time to code a custom search :/</p>

<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'en', style : google.loader.themes.MINIMALIST});
  var _gaq = _gaq || [];
  _gaq.push(["_setAccount", "UA-23663348"]);
  function _trackQuery(control, searcher, query) {
    var gaQueryParamName = "q";
    var loc = document.location;
    var url = [
      loc.pathname,
      loc.search,
      loc.search ? '&' : '?',
      gaQueryParamName == '' ? 'q' : encodeURIComponent(gaQueryParamName),
      '=',
      encodeURIComponent(query)
    ].join('');
    _gaq.push(["_trackPageview", url]);
  }
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('011664963047834707940:nohnmbzcrjo');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.setSearchStartingCallback(null, _trackQuery);
    customSearchControl.draw('cse');
  }, true);
</script>
