<p>Hey <%= @resource.username %>,</p>

<p>Forgot your password, eh? No prob. Click the link below to reset your password.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Cheers!<br />Justin</p>
